.navBody {
  border: solid black 2px;
  display: flex;
}

.navbarList {
  text-align: center;
  display: flex;
  justify-content: right;
}

li {
  margin-left: 50px;
}

container1 {
  display: flex;
  justify-content: right;
}
